body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#map { 
    height: 300px; 
}

#parkingData{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

.parking {
    border: 0.16rem;
    background-color: lightcyan;
    border-radius: 1rem;
    border-style: solid;
    border-color: darkcyan;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    max-width: 20rem;
    flex: auto;
}

.open {
    color: green;
}

.closed {
    color: red;
}